<div class="plugins">
  <div class="main">
    <h1>Ng-Nest</h1>
    <p>Solution of combination Angular and Nest</p>
  </div>
  <div class="data">

  </div>
</div>
<section class="main">
  <div class="panel">
    <section class="col-4">
      <a href="https://angular.io/" target="_blank">
        <h2><i class="icon icon-angular"></i>Angular</h2>
        <ul>
          <li>One framework. Mobile & desktop</li>
          <li>Develop across all platforms</li>
          <li>Speed & Performance</li>
          <li>Incredible tooling</li>
          <li>Loved by Millions</li>
        </ul>
      </a>
    </section>
    <section class="col-4">
      <a href="https://nestjs.com/" target="_blank">
        <h2><i class="icon icon-nest"></i>Nest</h2>
        <ul>
          <li>A progressive Node.js Web framework</li>
          <li>Module architecture</li>
          <li>An adaptable ecosystem</li>
          <li>Use the latest JavaScript features</li>
          <li>Open source platform for the future</li>
        </ul>
      </a>
    </section>
    <section class="col-4">
      <a>
        <h2><i class="icon icon-angular"></i>We</h2>
        <ul>
          <li>Common UI library</li>
          <li>User core business library</li>
          <li>Form designer</li>
          <li>Workflow engine</li>
          <li>Code generator</li>
        </ul>
      </a>
    </section>
  </div>
  <div class="video">
    <div>
      <p>Let's play a video.</p>
    </div>
  </div>
</section>