<div class="plugins">
  <div class="main">
    <h1>Ng-Nest</h1>
    <p>Solution of combination Angular and Nest</p>
  </div>
  <div class="data">

  </div>
</div>
<section class="main">
  <div class="panel">
    <section class="col-4">
      <a>
        <h2>AAAAAAAAAA</h2>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
        </ul>
      </a>
    </section>
    <section class="col-4">
      <a>
        <h2>AAAAAAAAAA</h2>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
        </ul>
      </a>
    </section>
    <section class="col-4">
      <a>
        <h2>AAAAAAAAAA</h2>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
        </ul>
      </a>
    </section>
  </div>
</section>