@import "index";

ns-home {
  @include flex-center();
  position: relative;
  justify-content: center;
  flex-direction: column;
  > .plugins {
    @include flex-center();
    background-color: #292929;
    height: 18em;
    justify-content: center;
    position: relative;
    width: 100%;
    > .main {
      @include flex-center();
      flex-direction: column;
      justify-content: center;
      color: #eee;
      text-shadow: 0 2px rgba(0, 0, 0, 0.7);
      z-index: 99;
      position: relative;
      padding-left: 1.5em;
      padding-right: 1.5em;
      > h1 {
        font-size: 4em;
        line-height: 1em;
        margin: 0;
        &:hover {
          color: #fff;
          text-shadow: 0 0 0.4em rgba(255, 255, 255, 0.3);
          transition: all 0.3s;
        }
      }
      > p {
        font-size: 1.125em;
        line-height: 1.5em;
        margin: 1.125em 0;
      }
    }
    > .data {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #000, transparent, #000);
    }
  }
  > .main {
    > .panel {
      > section {
        a {
          padding: 1.5em;
          display: block;
          > h2 {
            margin: 0;
          }
          > ul {
            > li {
              padding: 0.25em;
            }
          }
        }
      }
    }
  }
}
