@import "index";

ns-home {
  @include flex-center();
  position: relative;
  justify-content: center;
  flex-direction: column;
  > .plugins {
    @include flex-center();
    background-color: #292929;
    height: 18em;
    justify-content: center;
    position: relative;
    width: 100%;
    > .main {
      @include flex-center();
      flex-direction: column;
      justify-content: center;
      color: #eee;
      text-shadow: 0 2px rgba(0, 0, 0, 0.7);
      z-index: 99;
      position: relative;
      padding-left: 1.5em;
      padding-right: 1.5em;
      > h1 {
        font-size: 4em;
        line-height: 1em;
        margin: 0;
        &:hover {
          color: #fff;
          text-shadow: 0 0 0.4em rgba(255, 255, 255, 0.3);
          transition: all 0.3s;
        }
      }
      > p {
        font-size: 1.125em;
        line-height: 1.5em;
        margin: 1.125em 0;
      }
    }
    > .data {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #000, transparent, #000);
    }
  }
  > .main {
    @include flex-center();
    flex-direction: column;
    > .panel {
      width: 100%;
      > section {
        a {
          padding: 1.5em;
          display: block;
          &.we {
            cursor: default;
          }
          &:hover {
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0, rgba(255, 255, 255, 0) 100%);
          }
          > h2 {
            margin: 0 0 0.75em 0;
            padding-bottom: 0.125em;
            font-weight: initial;
            font-size: 1.75em;
            border-bottom: 4px solid;
            display: flex;
            align-items: center;
            > i {
              font-size: 1.25em;
              color: $normal-color;
              margin-right: 0.125em;
            }
          }
          > ul {
            margin: 0.5rem 0;
            > li {
              padding: 0.5em 0;
              color: $normal-color;
              display: flex;
              > i {
                margin-right: 0.325em;
                font-size: 1.2em;
                line-height: 1.2em;
                &.icon-checkout {
                  color: $green-color;
                }
                &.icon-wait {
                  color: #777;
                }
              }
              > p {
                flex: 1;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
    > .video {
      width: 100%;
      margin: 2rem 0;
      > div {
        border-radius: 0.375em;
        background-color: rgba(255, 255, 255, 0.8);
        > p {
          text-align: center;
          padding: 15em 0;
        }
      }
    }
  }
}
