<div class="plugins">
  <section class="main">
    <h1>Ng-Nest</h1>
    <p i18n="@@introduction">Solution of combination Angular and Nest</p>
  </section>
  <div class="data">

  </div>
</div>
<section class="main">
  <div class="panel">
    <section class="col-4">
      <a href="https://angular.io/" target="_blank">
        <h2><i class="icon icon-angular"></i>Angular</h2>
        <ul>
          <li>
            <i class="icon icon-checkout"></i>
            <p i18n="@@angular.one">One framework. Mobile & desktop</p>
          </li>
          <li>
            <i class="icon icon-checkout"></i>
            <p i18n="@@angular.two">Develop across all platforms</p>
          </li>
          <li>
            <i class="icon icon-checkout"></i>
            <p i18n="@@angular.three">Speed & Performance</p>
          </li>
          <li>
            <i class="icon icon-checkout"></i>
            <p i18n="@@angular.four">Incredible tooling</p>
          </li>
          <li>
            <i class="icon icon-checkout"></i>
            <p i18n="@@angular.five">Loved by Millions</p>
          </li>
        </ul>
      </a>
    </section>
    <section class="col-4">
      <a href="https://nestjs.com/" target="_blank">
        <h2><i class="icon icon-nest"></i>Nest</h2>
        <ul>
          <li>
            <i class="icon icon-checkout"></i>
            <p i18n="@@nest.one">A progressive Node.js Web framework</p>
          </li>
          <li>
            <i class="icon icon-checkout"></i>
            <p i18n="@@nest.two">Module architecture</p>
          </li>
          <li>
            <i class="icon icon-checkout"></i>
            <p i18n="@@nest.three">An adaptable ecosystem</p>
          </li>
          <li>
            <i class="icon icon-checkout"></i>
            <p i18n="@@nest.four">Use the latest JavaScript features</p>
          </li>
          <li>
            <i class="icon icon-checkout"></i>
            <p i18n="@@nest.five">Open source platform for the future</p>
          </li>
        </ul>
      </a>
    </section>
    <section class="col-4">
      <a class="we">
        <h2><i class="icon icon-angular"></i>We</h2>
        <ul>
          <li>
            <i class="icon icon-wait"></i>
            <p i18n="@@we.one">Common UI library</p>
          </li>
          <li>
            <i class="icon icon-wait"></i>
            <p i18n="@@we.two">User core business library</p>
          </li>
          <li>
            <i class="icon icon-wait"></i>
            <p i18n="@@we.three">Form designer</p>
          </li>
          <li>
            <i class="icon icon-wait"></i>
            <p i18n="@@we.four">Workflow engine</p>
          </li>
          <li>
            <i class="icon icon-wait"></i>
            <p i18n="@@we.five">Code generator</p>
          </li>
        </ul>
      </a>
    </section>
  </div>
  <div class="video">
    <div>
      <p i18n="@@play.video">Let's play a video.</p>
    </div>
  </div>
</section>