@import "index";

ns-docs {
  .main {
    padding: 0;
    width: initial;
    display: inline-block;
    width: 100%;
  }
  > .main {
    padding-left: 16.25rem;
    display: inline-block;
    position: relative;
    .main {
      padding: 0 1.5rem;
    }
  }
}
